<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>277709952366-cviv8455fb76cqkhla0mv5p3mjeh0fhd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.277709952366-cviv8455fb76cqkhla0mv5p3mjeh0fhd</string>
	<key>API_KEY</key>
	<string>AIzaSyD_bUxAdF6ket1RnpWq67c1a0Ex5GAMZro</string>
	<key>GCM_SENDER_ID</key>
	<string>277709952366</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.alloPark</string>
	<key>PROJECT_ID</key>
	<string>allopark-81d0a</string>
	<key>STORAGE_BUCKET</key>
	<string>allopark-81d0a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:277709952366:ios:9a00179fe2789b71d4dd7f</string>
</dict>
</plist>